.grid{
  display: grid;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-spacer {
  justify-content: space-between;
}

.align-start{
  align-items: flex-start;
}

.align-center{
  align-items: center;
}

.h-full{
  height: 100%;
}

.icon-alert {
  width: 30px;
  height: 30px;
  object-fit: cover;
}